/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  --background-light: rgb(238, 238, 238);
  --background-dark: rgb(225, 225, 225);
  --hover: rgb(180, 180, 180);
  --background-green: rgba(38, 230, 0, 0.68);
  --background-red: rgba(230, 0, 0, 0.611);
}

body {
  background-color: var(--background-light);
}

.sidebar {
  height: 100vh;
  background-color: var(--background-dark);
  grid-row: 1;
  display: flex;
  flex-direction: column;
}
.sidebar-element {
  font-size: 1.5rem;
  padding-left: 30px;
  cursor: pointer;
}

.sidebar-element:hover {
  background-color: var(--hover);
}

.add-button {
  width: 150px;
  font-size: 1.5rem;
}
#content {
  display: grid;
  grid-template-columns: 300px 1fr;
}

.display {
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 10px;
}

form {
  display: flex;
  flex-direction: column;
  width: 500px;
  gap: 10px;
}

select {
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
}

input,
textarea {
  font-size: 1.5rem;
  border-radius: 10px;
  border: 2px solid var(--background-light);
}

button[type="button"] {
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.5rem;
}
#add {
  background-color: var(--background-green);
}
#cancel {
  background-color: var(--background-red);
}

.card {
  border-top: 2px solid var(--background-dark);
  border-bottom: 2px solid var(--background-dark);
  font-size: 1.5rem;
  width: 70vw;
  position: relative;
  display: flex;
  gap: 30px;
  justify-content: center;
}

input[type="checkbox"] {
  left: 0px;
  top: 5px;
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.priority {
  width: 10%;
  height: 100%;
  left: 50px;
  border-radius: 5px;
  background-color: green;
  position: absolute;
}

.delete-btn {
  width: 50px;
  background-color: var(--background-red);
  border: none;
  border-radius: 10px;
}

dialog {
  align-self: center;
  justify-self: center;
  border: none;
  border-radius: 20px;
}
